@mainGreen: #1D9053;

/**** Page Styles ****/
html {
    color: #FFFFFF;
    font: 14px Trebuchet MS, Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

html a {
    color: #FFFFFF;
    text-decoration: none;
}

html a:hover {
    color: #0000EE;
}

body {
    background-color: @mainGreen;
}

ul {
    list-style: none;
}

/**** Navigation ****/
nav ul {
    font-size: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-size: 21px;
}

nav ul li.selected,
nav ul li:hover {
    background-color: #FFFFFF;
}

nav ul li:hover a {
    color: #000000;
}

nav ul li a {
    display: block;
    padding: 5px 15px 10px 15px;
}

nav ul li.selected a {
    color: #000000;
}

/**** Main Content ****/
#wrapper {
    padding: 0 10%;
}

#main {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px 0;
}

#main h2 {
    text-align: center;
}

#main ul li fieldset {
    width: 30%;
}

#main ul li fieldset ul li {
    padding: 10px;
}

.input {
    display: block;
}

.input span {
    position: absolute;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    color: #999;
    /* Input padding + input border */
    padding: 7px;
    /* Firefox does not respond well to different line heights. Use padding instead. */
    line-height: 17px;
    /* This gives a little gap between the cursor and the label */
    margin-left: 2px;
}

.input input, .input select {
    z-index: 0;
    padding: 6px;
    margin: 0;
    font: inherit;
    line-height: 17px;
}

.input textarea {
    font: inherit;
    line-height: 17px;
    margin: 0;
    padding: 6px;
    width: 300px;
    z-index: 0;
}

li input[type="submit"] {
    margin-top: 10px;
}

/**** Footer ****/
footer {
    padding-top: 50px;
    text-align: center;
}

/**** Misc ****/
.center {
    text-align: center;
}

.main-left {
    float: left;
}

.main-right {
    float: right;
}

.clear {
    clear: both;
}

/* Styles for validation helpers */
label.required span:after {
    color: #FF0000;
    content: " *";
    font-weight: bold;
}

.field-validation-error {
    color: #FF0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}

.validation-summary-errors {
    color: #FF0000;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}