@background: #00171F;
@main: #00A8E8;
@text: #FFFFFF;

/**** Page Styles ****/
html {
	background-color: @background;
	height: 95%;
	padding: 0 10% 0 10%;
}

body {
	color: @text;
	background-color: @main;
	height: 100%;
	position: relative;
}

nav {
	padding: 5px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	background-color: @text;
	border: 1px solid @background;
	float: right;
	margin: 5px;
}

nav ul li.selected {
	background-color: @background;
	color: @text;
}

nav ul li a {
	display: block;
	padding: 5px;
}

nav ul li a:hover {
	background-color: @background;
	color: @text;
	text-decoration: none;
}

#main {
	padding: 2% 10% 0 10%;
}

footer {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

footer a {
	color: @text;
	text-decoration: underline;
}

/**** Misc ****/
.center {
	text-align: center;
}

.main-left {
	float: left;
}

.main-right {
	float: right;
}

.clear {
	clear: both;
}

/* Styles for validation helpers */
label.required span:after {
	color: #FF0000;
	content: " *";
	font-weight: bold;
}

.field-validation-error {
	color: #FF0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	background-color: #FFEEEE;
	border: 1px solid #FF0000;
}

.validation-summary-errors {
	color: #FF0000;
	font-weight: bold;
}

.validation-summary-valid {
	display: none;
}